<div class="m_foot">
    <div class="foot_cont w">
        <div class="foot_logo">
            <img src="https://www.xiaomiyoupin.com/static3/media/logo@2x.30cd8c00.png" alt="">
        </div>
        <div class="foot_fr">
            <div class="foot_icons">
                <img src="https://www.xiaomiyoupin.com/static3/media/f-logo.76889756.png">
            </div>
            <div class="foot_d">
                <p class="footer-item">
                    <span>©xiaomiyoupin.com </span>
                    <span>苏B2-20180351 苏ICP备18025642号-1 </span>
                    <img src="https://www.xiaomiyoupin.com/static3/media/record-icon.0c577066.png" style="width: 15px; height: 15px; vertical-align: -3px;" alt="logo">
                    <a href="#">苏公网安备 32010502010244号 </a>
                </p>
                <p class="footer-item"><span>企业名称：有品信息科技有限公司 </span><a href="#">关于我们 </a><a href="#">入驻有品 </a><a href="#">知识产权侵权投诉 </a></p>
                <p class="footer-item">小米有品平台运营主体变更公告</p>
                <p class="footer-item"><span>南京市建邺区白龙江东街8号3栋9层 </span></p>
            </div>
        </div>
    </div>
</div>
<!-- 电梯 -->
<div class="m_fixed">
    <ul class="fiexd_nav">
        <li class="one_a" >
            <h4 class="iconfont icon-kefu"></h4>
            <p>联系客服</p>
            <div class="fixed-pop">
                <div class="pop-inner">
                    <p class="info-title">小米有品平台问题，建议反馈，商户和物流问题投诉等请拨打 小米有品客服热线</p>
                    <p class="info-phone">400-100-1199</p>
                    <p class="info-day">(周一至周日 8：00-22：00)</p>
                    <p class="info-des">小米/米家自营品牌，手机电视智能硬件商品或订单发货/退款售后问题 请拨打小米自营客服热线</p>
                    <p class="info-phone">400-100-5678</p>
                    <p class="info-day">(周一至周日 8：00-18：00)</p>
                </div>
                <a class="m-icons m-icons-arrow-right " data-src="" href="#!"></a>
            </div>
        </li>
        <li class="one_b">
            <h4 class=" iconfont icon-zixun "></h4>
            <p>下载APP</p>
            <div class="fixed-pop "  style="height: 140px;">
                <div class="pop_con">
                    <img src="https://www.xiaomiyoupin.com/static3/media/code.8d037abc.png" alt="" style="width: 100px;">
                </div>
            </div>
        </li>
        <li class="one_c">
            <h4 class="iconfont icon-fenlei-xuanzhong "></h4>
            <p>新人有礼</p>
            <div class="fixed-pop ">
                <img src="https://www.xiaomiyoupin.com/static3/media/gift-gd.339f2400.png" alt="" style="width: 200px;">
                <img src="https://www.xiaomiyoupin.com/static3/media/code.8d037abc.png" alt="" style="width: 150px;">
            </div>
        </li>
        <li class="one_d">
            <h4 class="iconfont icon-weixin1 "></h4>
            <p>关注微信</p>
            <div class="fixed-pop " style="height: 200px;">
                <img src="https://www.xiaomiyoupin.com/static3/media/code.8d037abc.png" alt="" style="width: 150px;">

            </div>
        </li>
        <li class="ding_m">
            <h4 class="iconfont icon-arrow-up "></h4>
            <p>回到顶部</p>

        </li>
    </ul>
</div>