<!-- 头部 -->
<div class="nav_top_a">
<div class="nav_top">
    <div class="nav_a w">
        <div class="nav_fr">
            <div class="login">
                <a href="./the_login.html">登录</a>
                <a href="./registered.html">注册</a>
            </div>
            <i></i>
            <div class="help">
                <a href="#">帮助中心</a>
            </div>
            <i></i>
            <div class="app">
                <a href="#">
                    <i class="iconfont icon-shouji "></i> 下载APP
                </a>
            </div>
            <i></i>
            <ul class="zi_zhi">
                <li>
                    <a href="#">
                                资质证件照/协议规则
                                <i class="iconfont icon-angle-down"></i>
                            </a>
                    <ul class="tow_a">
                        <li class="az"></li>
                        <li class="tow_a_a">资质证</li>
                        <li class="tow_a_b">协议规则</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- logo导航部分 -->
<div class="m_header_a">
<div class="m_header w">
    <div class="m_logo">
        <a href="./index.html">
        <img src="https://www.xiaomiyoupin.com/static3/media/logo@2x.30cd8c00.png" alt="" style="width: 100%;">
        </a>
    </div>
    <div class="m_list">
        <a href="./list_details.html">限时抢购</a>
        <a href="#">企业采购</a>
    </div>
    <div class="m_form">
        <a href="#" class="fdj iconfont icon-fangdajing"></a>
        <input type="text" placeholder="搜一搜" class="sou" style=" outline:none">

    </div>
    <div class="cai">
        <a href="./shopping.html" class="iconfont icon-gouwuche"></a>
    </div>
</div>
</div>
<!-- 登录成功之后 -->
<!-- logo导航部分结束 -->
<!-- 头部结束 -->