<!-- jQuery封装 -->
<script src="./javascripts/jQuery.js"></script>
<script src="./data/data.json"></script>
<!-- 主页js -->
<script src="./javascripts/index.js"></script>
<!-- 商品详情js -->
<script src="./javascripts/s_details.js"></script>
<!-- 运动框架封装 -->
<script src="./javascripts/yun_dong.js"></script>

<!-- 字体图标 -->
<link rel="stylesheet" href="./iconfont/iconfont.css">
<!-- 主页cs样式 -->
<link rel="stylesheet" href="./css/index.css">
<!-- 公共样式 -->
<link rel="stylesheet" href="./css/public.css">
<!-- 商品详情 -->
<link rel="stylesheet" href="./css/s_details.css">