    <!-- 秒杀部分开始 -->
    <div class="seconds w">
        <div class="seconds_top">
            <div class="seconds_lft">
                <div>
                    <h2>有品秒杀</h2>
                    <span class="one iconfont icon-naozhong">09:00场</span>
                    <div id="sj"></div>

                </div>
                <div class="rig">
                    <span>更多&ensp;</span>
                    <span class="iconfont icon-angle-right"></span>
                </div>
            </div>
        </div>
        <!-- 滚动 -->
        <div class="box_m">
            <div class="wrapper_m">
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/7edac497f19504bc3bb07606759fb78d.jpg" style="width: 266px;height: 266px;">
                    <p>大宇净化无叶风扇</p>
                    <div class="money">
                        <span class="mon_a">￥</span>
                        <span class="mon_b">999</span>
                        <span style="color: #333;">起</span>
                        <span class="mon_c">￥1799</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/db998f0e33a26421953567f7b5ccf6cb.jpg" alt="" style="width: 266px;height: 266px;">
                    <p>艾草抗菌儿童T恤</p>
                    <div class="money">
                        <span class="mon_a">￥</span>
                        <span class="mon_b">29</span>
                        <span style="color: #333;">起</span>
                        <span class="mon_c">￥1799</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/2ddfe2948cf5ef73e3eb902a0a4bacd1.jpg" alt="" style="width: 266px;height: 266px;">
                    <p>SK-II大红瓶面霜</p>
                    <div class="money">
                        <span class="mon_a">￥</span>
                        <span class="mon_b">755</span>
                        <span style="color: #333;">起</span>
                        <span class="mon_c">￥1799</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/11dd6b1917403d3fe7ff58b91897442c.jpg" alt="" style="width: 266px;height: 266px;">
                    <p>双面改善温感</p>
                    <div class="money">
                        <span class="mon_a">￥</span>
                        <span class="mon_b">1199</span>
                        <span style="color: #333;">起</span>
                        <span class="mon_c">￥1799</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/6d2c8085b3ecd21ee89b4647bdb6114e.jpg" alt="" style="width: 266px;height: 266px;">
                    <p>双面改善温感</p>
                    <div class="money">
                        <span class="mon_a">￥</span>
                        <span class="mon_b">1199</span>
                        <span style="color: #333;">起</span>
                        <span class="mon_c">￥1799</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/11dd6b1917403d3fe7ff58b91897442c.jpg" alt="" style="width: 266px;height: 266px;">
                    <p>双面改善温感</p>
                    <div class="money">
                        <span class="mon_a">￥</span>
                        <span class="mon_b">1199</span>
                        <span style="color: #333;">起</span>
                        <span class="mon_c">￥1799</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/11dd6b1917403d3fe7ff58b91897442c.jpg" alt="" style="width: 266px;height: 266px;">
                    <p>双面改善温感</p>
                    <div class="money">
                        <span class="mon_a">￥</span>
                        <span class="mon_b">1199</span>
                        <span style="color: #333;">起</span>
                        <span class="mon_c">￥1799</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/11dd6b1917403d3fe7ff58b91897442c.jpg" alt="" style="width: 266px;height: 266px;">
                    <p>双面改善温感</p>
                    <div class="money">
                        <span class="mon_a">￥</span>
                        <span class="mon_b">1199</span>
                        <span style="color: #333;">起</span>
                        <span class="mon_c">￥1799</span>
                    </div>
                </div>
            </div>
            <div class="you_btn iconfont icon-angle-right"></div>
            <div class="zou_btn iconfont icon-angle-left"></div>
        </div>
    </div>
    <!-- 第二个轮播 -->
    <div class="seconds_g w">
        <div class="seconds_top">
            <div class="seconds_lft">
                <div>
                    <h2>每日新品</h2>
                    <span>每天十点更新 惊喜不断</span>
                </div>
                <div class="rig">
                    <span>更多&ensp;</span>
                    <span class="iconfont icon-angle-right"></span>
                </div>
            </div>
        </div>
        <!-- 滚动 -->
        <div class="box_tow" style="background-color: #fff;">
            <div class="wrapper_tow">
                <a href="./s_details.html">
                    <div class="fig_tow">
                        <img src="https://img.youpin.mi-img.com/shopmain/1c2da905ffcb11379bc45e3e3035e1f4.jpg" style="width: 266px;height: 266px;">
                        <p>小米降噪耳机Pro</p>
                        <div class="money">
                            <p style="color: #333; font-size: 8px; margin-top: -10px;">40dB主动降噪，双通透模式，28...</p>
                            <span class="mon_a">￥</span>
                            <span class="mon_b">799</span>
                        </div>
                    </div>
                </a>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/09a1b94f52b4b11cdbd1790869890764.jpg" style="width: 266px;height: 266px;">
                    <p>小米框体旅行箱</p>
                    <div class="money">
                        <p style="color: #333; font-size: 8px; margin-top: -10px;">强韧合金中框新式单拉杆设计...</p>
                        <span class="mon_a">￥</span>
                        <span class="mon_b">290</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/643056023ba0f0374c395f07e4038ee6.jpg" style="width: 266px;height: 266px;">
                    <p>Note10 5G</p>
                    <div class="money">
                        <p style="color: #333; font-size: 8px; margin-top: -10px;">5G小金刚，旗舰长续航...</p>
                        <span class="mon_a">￥</span>
                        <span class="mon_b">290</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/487f594052819e59e8349cb518db806b.jpg" style="width: 266px;height: 266px;">
                    <p>颈椎按摩仪</p>
                    <div class="money">
                        <p style="color: #333; font-size: 8px; margin-top: -10px;">创新吊坠设计,低至110g，不压迫...</p>
                        <span class="mon_a">￥</span>
                        <span class="mon_b">290</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/220b6cb48ec1aed1b2c3b791fc062948.jpg" style="width: 266px;height: 266px;">
                    <p>仙鹤旅行茶具套组</p>
                    <div class="money">
                        <p style="color: #333; font-size: 8px; margin-top: -10px;">国潮仙鹤贴花 寓意美好 嵌套式便携茶具 ...</p>
                        <span class="mon_a">￥</span>
                        <span class="mon_b">290</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/220b6cb48ec1aed1b2c3b791fc062948.jpg" style="width: 266px;height: 266px;">
                    <p>仙鹤旅行茶具套组</p>
                    <div class="money">
                        <p style="color: #333; font-size: 8px; margin-top: -10px;">国潮仙鹤贴花 寓意美好 嵌套式便携茶具 ...</p>
                        <span class="mon_a">￥</span>
                        <span class="mon_b">290</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/220b6cb48ec1aed1b2c3b791fc062948.jpg" style="width: 266px;height: 266px;">
                    <p>仙鹤旅行茶具套组</p>
                    <div class="money">
                        <p style="color: #333; font-size: 8px; margin-top: -10px;">国潮仙鹤贴花 寓意美好 嵌套式便携茶具 ...</p>
                        <span class="mon_a">￥</span>
                        <span class="mon_b">290</span>
                    </div>
                </div>
                <div class="fig_m">
                    <img src="https://img.youpin.mi-img.com/shopmain/220b6cb48ec1aed1b2c3b791fc062948.jpg" style="width: 266px;height: 266px;">
                    <p>仙鹤旅行茶具套组</p>
                    <div class="money">
                        <p style="color: #333; font-size: 8px; margin-top: -10px;">国潮仙鹤贴花 寓意美好 嵌套式便携茶具 ...</p>
                        <span class="mon_a">￥</span>
                        <span class="mon_b">290</span>
                    </div>
                </div>
            </div>
            <div class="you_tow iconfont icon-angle-right"></div>
            <div class="zou_tow iconfont icon-angle-left"></div>
        </div>
    </div>
    <!-- body推荐部分 -->
    <div class="sub_box w">
        <h2 class="sub_tit"> 专属推荐</h2>
        <div class="sub_cont">
            <div class="details">
                <!-- <p class="ipc"></p>
                    <span class="name_m">iPhone12，细腻皮纹，色泽饱满...</span>
                    <span class="common-tag" style="background-color: rgb(217, 107, 108);">有品秒杀</span>
                    <p class="pro-info" title="唯智iPhone12皮纹手机保护壳/手机壳/手机套">唯智iPhone12皮纹手机...</p>
                    <p class="pro-price">
                        <span class="pro-unit">¥</span>
                        <span class="m-num">45</span>
                    </p> -->
            </div>
        </div>
    <!-- body部分结束 -->

    </div>