// <!-- header开始 -->
    .w{
        width: 1080px;
        margin: 0 auto;
    }
    //头部导航开始
    .nav_top{
        height: 48px;
        background: #333;
        font-size: 14px;
    }
    .nav_top .nav_fr{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 470px;
        height: 48px;
        float: right;
        // background-color: pink;
    }
    .nav_top .nav_fr >i{
       width: 1px;
       height: 12px;
       background-color: #ddd;
    }
    .nav_top .nav_fr .login>a{
        color: #ddd;
    }
    .nav_top .nav_fr .login>a:hover,
    .nav_top .nav_fr .help>a:hover,
    .nav_top .nav_fr .app>a:hover,
    .nav_top .nav_fr .zi_zhi>li>a:hover{
        color: #fff;
    }
    .nav_top .nav_fr .help>a{
        color: #ddd;
    }
    .nav_top .nav_fr .app>a{
        color: #ddd;
    }
    .nav_top .nav_fr .zi_zhi>li>a{
        display: block;
        color: #ddd;
    }
    .zi_zhi>li .tow_a{
        display: none;
        position: absolute;
        width: 145px;
        // height: 48px;
        line-height: 48px;
        background-color: #fff;
        text-align: center;
    }
    .zi_zhi>li .tow_a .az{
        height: 15px;
        background-color: #333;
    }
    .zi_zhi:hover .tow_a{
        display: block;
    }
    .tow_a .tow_a_a:hover,
    .tow_a .tow_a_b:hover{
        background-color: rgb(124, 34, 34);
        color: #fff;
    }
    // <!-- 头部导航结束 -->
    //     <!-- logo导航部分 -->
    .m_header{
        display: flex;
        justify-content: space-between;
        height: 71px;
        box-sizing: border-box;
        padding-top: 20px;
    }
    .m_header .m_logo{
        width: 123px;
        height: 51px;
    }
    .m_header .m_list{
        display: flex;
        align-items: center;
        width: 420px;
        height: 51px;
        margin-left: 60px;
    }
    .m_header .m_list>a{
        margin-right: 30px;
        font-size: 18px;
    }
    .m_header .m_list>a:hover{
        color: #9f8052;
    }
    .m_header .m_form{
        width: 280px;
        height: 42px;
        border-bottom: 1px solid #333;
    }
    .m_header .m_form .fdj{
        font-size:20px;
        color: #000;
        font-weight: 700;
        line-height: 42px;
    }
    .m_header .m_form .fdj:hover{
        color: #9f8052;
    }
    .m_header .m_form .sou{
        width: 247px;
        height: 25px;
        border: none;
        color: #ccc;
    }
    .m_header .cai>a{
        display: block;
        font-size: 30px;
        padding-top: 10px;
        padding-right: 20px;
    }
    //  <!-- logo导航部分结束 -->
    // <!-- 横幅导航部分 -->
    .banner_nav{
        height: 358px;
        display: flex;
        box-sizing: border-box;
        padding: 10px 0px;
    }
    .banner_nav .nav_cont{
        width: 221px;
        height: 358px;
        background-color: #9f8052;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav_list{
        
        // width: 221px;
        height: 33px;
    }
    .nav_list>li{
        width: 221px;
        height: 33px;

    }






    .banner_nav .banner_box{
        width: 859px;
        height: 358px;
        background-color: rebeccapurple;
    }
    // <!-- 横幅导航部分结束 -->
// <!-- header结束 -->